body{
    background-color: hsl(330, 100%, 98%); 
}

div.mainDiv{
    margin: auto;
    width: 450px;
    height: 1000px;
    background-color: white;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 15px;
    position: relative;
}

div.imgDiv > img{
    width: 410px;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

section.firstSection > h1 {
    font-family: 'Young Serif', serif;
    margin-left: 20px;
}

section.firstSection > p {
    font-family: 'Outfit', sans-serif;
    margin-left: 20px;
    font-size: smaller;
}

div.secondDiv{
    background-color: hsl(330, 100%, 98%);
    width: 410px;
    height: 130px; 
    border: 1px solid hsl(330, 100%, 98%); 
    border-radius: 15px;
    margin-left: 20px;
}

div.secondDiv > h4{
    font-family: 'Outfit', sans-serif;
    color: hsl(332, 51%, 32%);
    margin-left: 5px;
}

div.secondDiv > ul{
    font-family: 'Outfit', sans-serif;
}

div.secondDiv > ul > li{
    color: hsl(332, 51%, 32%);
}